@model FinanceSystem.Models.Momo.MomoExecuteResponseModel

@{
    ViewData["Title"] = "Home Page";
    var postUrl = "tich-hop-thanh-toan-momo-voi-asp-net-core-7d5e4hP";
}

<div class="text-center">
    <h1 class="display-4">Chúc mừng bạn đã nâng cấp tài khoản Premium</h1>
    
</div>

<script>
    $(document).ready(function () {
        
    });
</script>