
#notificationModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content0 {
    background-color: #ff0000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    color: #ffffff;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

    .close:hover,
    .close:focus {
        color: #000000;
        text-decoration: none;
        cursor: pointer;
    }

#closeButton {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

li {
    color: white;
}

#notificationModal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease;
}

.modal-content1 {
    background-color: #00ff7b;
    margin: 50% auto;
    transform: translateY(-50%);
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    animation: slideIn 0.3s forwards;
}

.close1 {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

    .close1:hover {
        color: #000000;
    }

#closeButton1 {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    #closeButton1:hover {
        background-color: #000000;
        color: #ffffff;
    }

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


