@model FinanceSystem.Models.UserInfor

@{
	Layout = null;
	ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/userin4.css">

<div class="sttngs">
	<h2>SETTINGS</h2>
	<div class="tabordion">
        
		
			<section id="section1">
				<input class="t" type="radio" name="sections" id="option1" checked>
				<label for="option1" class="trr"> Account</label>
				<article>
                    <form asp-action="Edit" asp-controller="UserInfors" enctype="multipart/form-data">
					<div class="frm">
						<div>
							<img src="@TempData["Image"]" width="30%" />
						</div>
						

						<div id='profile-upload'>
							<div class="hvr-profile-img">

								
								<input type="file" name="ImageFile" asp-for="ImageFile" id='getval' class="upload" id="imag" value="@TempData["Image"]">

								<div class="icon">
									<div class="camera4"><span></span></div>
								</div>

							</div>

						</div>



						<div class="tr">


							<div class="form-group">
								<label class="label" for="input" name="FirstName" asp-for="FirstName">FIRST NAME</label>
								<input class="input" type="text" id="input" asp-for="FirstName">
							</div>
							<div class="form-group">
								<label class="label" for="input" name="Image" asp-for="Image">Image</label>
								<input class="input" type="hidden" id="input" asp-for="Image">
							</div>

							<div class="form-group">
								<label class="label" for="input" asp-for="LastName">LAST NAME</label>
								<input class="input" type="text" id="input" asp-for="LastName">
							</div>
						</div>

						<br>
						<button type="submit">Update profile</button>

					</div>
                    </form>
				</article>
			</section>
       
	</div>


</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="~/js/userin4.js"></script>