@page
@model FinanceSystem.Areas.Identity.Pages.Account.LoginRegisterModel
@{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="~/css/login/style.css">
        <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js'></script>
        <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/DrawSVGPlugin3.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js'></script>
        <script src="~/js/login/script1.js"></script>
        <link rel="stylesheet" href="~/css/login/style1.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link href="~/css/login/StyleLogin.css" rel="stylesheet" />
    </head>
    <body>
        <header style="display: flex;">
            <div>
            </div>
            <nav class="navigation">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Contact</a>
                <button class="btnLogin-popup">Login</button>
            </nav>
        </header>
        <div class="wrapper">
            <span class="icon-close">
                <ion-icon name="close-outline"></ion-icon>
            </span>
            <div class="form-box login">
                <h2>Login</h2>
                <form id="account" method="post">
                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="mail-outline"></ion-icon>
                        </span>
                        <input asp-for="Input.Email" class="form-control" name="Email" autocomplete="username" aria-required="true" />
                        @*<input type="email" name="Email" required>*@
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                        <input asp-for="Input.Password" class="form-control" name="Password" autocomplete="current-password" aria-required="true" />
                    <label>Password</label>
                    </div>
                    <div class="remeber-forgot">
                        <label>
                            <input asp-for="Input.RememberMe" type="checkbox" name="RememberMe">Remember me
                        </label>
                        <a asp-page="./ForgotPassword">Forgot Password?</a>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <div class="login-register">
                        <p>Don't have an account? <a href="#" class="register-link"> Register</a></p>
                    </div>
                </form>
            </div>
            <div class="form-box register">
                <h2>Registration</h2>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                   
                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="mail"></ion-icon>
                        </span>
                        <input type="email" required, name="EmailRegister" asp-for="Input.EmailRegister">
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="person"></ion-icon>
                        </span>
                        <input type="password" required, name="PasswordRegister" asp-for="Input.PasswordRegister">
                        <label>Password</label>
                    </div>
                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="lock-closed"></ion-icon>
                        </span>
                        <input type="password" required, name="ConfirmPassword" asp-for="Input.ConfirmPassword">
                        <label>Confirm Password</label>
                    </div>
                    <button type="submit" class="btn">Register</button>
                    <div class="login-register">
                        <p>Already have an account? <a href="#" class="login-link"> Login</a></p>
                    </div>
                </form>
            </div>
        </div>

        <script src="~/js/login/script.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="http://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
    </html>
}
